body {
  font-family: "Poppins", sans-serif;
  background-color: #f3fff8;
  color: #004d36;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #ffffff;
  padding: 20px 25px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 80, 50, 0.15);
  max-width: 400px;
  width: 90%;
}

h1 {
  text-align: center;
  color: #006e4d;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #009f6b;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #007f55;
}
